In [1]:
import pandas as pd

##### 加载训练数据

In [2]:
train_data = pd.read_csv('used_car_train_20200313.csv')

##### 探索数据, 先将数据打印出来发现只有两列，属性和在了一起，所以需要将不同的属性（字段）隔开

In [3]:
train_data

       SaleID name regDate model brand bodyType fuelType gearbox power kilometer notRepairedDamage regionCode seller offerType creatDate price v_0 v_1 v_2 v_3 v_4 v_5 v_6 v_7 v_8 v_9 v_10 v_11 v_12 v_13 v_14
0       0 736 20040402 30.0 6 1.0 0.0 0.0 60 12.5 0.0 ...
1       1 2262 20030301 40.0 1 2.0 0.0 0.0 0 15.0 - 43...
2       2 14874 20040403 115.0 15 1.0 0.0 0.0 163 12.5...
3       3 71865 19960908 109.0 10 0.0 0.0 1.0 193 15.0...
4       4 111080 20120103 110.0 5 1.0 0.0 0.0 68 5.0 0...
...                                                   ...
149995  149995 163978 20000607 121.0 10 4.0 0.0 1.0 16...
149996  149996 184535 20091102 116.0 11 0.0 0.0 0.0 12...
149997  149997 147587 20101003 60.0 11 1.0 1.0 0.0 90 ...
149998  149998 45907 20060312 34.0 10 3.0 1.0 0.0 156 ...
149999  149999 177672 19990204 19.0 28 6.0 0.0 1.0 193...

[150000 rows x 1 columns]

In [4]:
train_data = pd.read_csv('used_car_train_20200313.csv', sep = ' ')

In [5]:
train_data

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,0,736,20040402,30.0,6,1.0,0.0,0.0,60,12.5,...,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,1,2262,20030301,40.0,1,2.0,0.0,0.0,0,15.0,...,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,2,14874,20040403,115.0,15,1.0,0.0,0.0,163,12.5,...,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,3,71865,19960908,109.0,10,0.0,0.0,1.0,193,15.0,...,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,4,111080,20120103,110.0,5,1.0,0.0,0.0,68,5.0,...,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149995,163978,20000607,121.0,10,4.0,0.0,1.0,163,15.0,...,0.280264,0.000310,0.048441,0.071158,0.019174,1.988114,-2.983973,0.589167,-1.304370,-0.302592
149996,149996,184535,20091102,116.0,11,0.0,0.0,0.0,125,10.0,...,0.253217,0.000777,0.084079,0.099681,0.079371,1.839166,-2.774615,2.553994,0.924196,-0.272160
149997,149997,147587,20101003,60.0,11,1.0,1.0,0.0,90,6.0,...,0.233353,0.000705,0.118872,0.100118,0.097914,2.439812,-1.630677,2.290197,1.891922,0.414931
149998,149998,45907,20060312,34.0,10,3.0,1.0,0.0,156,15.0,...,0.256369,0.000252,0.081479,0.083558,0.081498,2.075380,-2.633719,1.414937,0.431981,-1.659014
149999,149999,177672,19990204,19.0,28,6.0,0.0,1.0,193,12.5,...,0.284475,0.000000,0.040072,0.062543,0.025819,1.978453,-3.179913,0.031724,-1.483350,-0.342674

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SaleID             150000 non-null  int64
 1   name               150000 non-null  int64
 2   regDate            150000 non-null  int64
 3   model              149999 non-null  float64
 4   brand              150000 non-null  int64
 5   bodyType           145494 non-null  float64
 6   fuelType           141320 non-null  float64
 7   gearbox            144019 non-null  float64
 8   power              150000 non-null  int64
 9   kilometer          150000 non-null  float64
 10  notRepairedDamage  150000 non-null  object
 11  regionCode         150000 non-null  int64
 12  seller             150000 non-null  int64
 13  offerType          150000 non-null  int64
 14  creatDate          150000 non-null  int64
 15  price              150000 non-null  int64
 16  v_0                150000 non-null  float64
 17  v_1                150000 non-null  float64
 18  v_2                150000 non-null  float64
 19  v_3                150000 non-null  float64
 20  v_4                150000 non-null  float64
 21  v_5                150000 non-null  float64
 22  v_6                150000 non-null  float64
 23  v_7                150000 non-null  float64
 24  v_8                150000 non-null  float64
 25  v_9                150000 non-null  float64
 26  v_10               150000 non-null  float64
 27  v_11               150000 non-null  float64
 28  v_12               150000 non-null  float64
 29  v_13               150000 non-null  float64
 30  v_14               150000 non-null  float64
dtypes: float64(20), int64(10), object(1)
memory usage: 35.5+ MB

##### 将其中的时间字段（regDate）进行转换，成为一个可以表示二手车新旧程度的一个值。通常的做法是将时间减去一个初始值得到天数

In [7]:
import numpy as np

##### 寻找regDate的起始时间

In [8]:
np.min(train_data['regDate'])

19910001

##### 之后，转换字段类型为时间方便之后的计算

In [9]:
temp = pd.to_datetime(train_data['regDate'], format= '%Y%m%d', errors = 'coerce')

In [10]:
temp

0        2004-04-02
1        2003-03-01
2        2004-04-03
3        1996-09-08
4        2012-01-03
            ...
149995   2000-06-07
149996   2009-11-02
149997   2010-10-03
149998   2006-03-12
149999   1999-02-04
Name: regDate, Length: 150000, dtype: datetime64[ns]

##### 将最小值也转换成时间类型

In [11]:
min_date = pd.to_datetime('19910101', format = '%Y%m%d')

##### 把时间和上面初始时间的差值当作新的特征

In [12]:
train_data['regTime'] = (temp - min_date).dt.days

In [13]:
train_data['regTime']

0         4840.0
1         4442.0
2         4841.0
3         2077.0
4         7672.0
           ...
149995    3445.0
149996    6880.0
149997    7215.0
149998    5549.0
149999    2956.0
Name: regTime, Length: 150000, dtype: float64

##### 同样，将createDate属性也用相同的方法转换为二手车的损耗值

In [14]:
temp = pd.to_datetime(train_data['creatDate'], format= '%Y%m%d', errors = 'coerce')

In [15]:
temp

0        2016-04-04
1        2016-03-09
2        2016-04-02
3        2016-03-12
4        2016-03-13
            ...
149995   2016-03-27
149996   2016-03-12
149997   2016-03-28
149998   2016-04-01
149999   2016-03-05
Name: creatDate, Length: 150000, dtype: datetime64[ns]

In [16]:
min_date = pd.to_datetime(np.min(train_data['creatDate']), format='%Y%m%d')

In [17]:
train_data['creatTime'] = (temp - min_date).dt.days

In [18]:
train_data['creatTime']

0         291
1         265
2         289
3         268
4         269
         ...
149995    283
149996    268
149997    284
149998    288
149999    261
Name: creatTime, Length: 150000, dtype: int64

##### 查看其他的特征

In [19]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 33 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SaleID             150000 non-null  int64
 1   name               150000 non-null  int64
 2   regDate            150000 non-null  int64
 3   model              149999 non-null  float64
 4   brand              150000 non-null  int64
 5   bodyType           145494 non-null  float64
 6   fuelType           141320 non-null  float64
 7   gearbox            144019 non-null  float64
 8   power              150000 non-null  int64
 9   kilometer          150000 non-null  float64
 10  notRepairedDamage  150000 non-null  object
 11  regionCode         150000 non-null  int64
 12  seller             150000 non-null  int64
 13  offerType          150000 non-null  int64
 14  creatDate          150000 non-null  int64
 15  price              150000 non-null  int64
 16  v_0                150000 non-null  float64
 17  v_1                150000 non-null  float64
 18  v_2                150000 non-null  float64
 19  v_3                150000 non-null  float64
 20  v_4                150000 non-null  float64
 21  v_5                150000 non-null  float64
 22  v_6                150000 non-null  float64
 23  v_7                150000 non-null  float64
 24  v_8                150000 non-null  float64
 25  v_9                150000 non-null  float64
 26  v_10               150000 non-null  float64
 27  v_11               150000 non-null  float64
 28  v_12               150000 non-null  float64
 29  v_13               150000 non-null  float64
 30  v_14               150000 non-null  float64
 31  regTime            138653 non-null  float64
 32  creatTime          150000 non-null  int64
dtypes: float64(21), int64(11), object(1)
memory usage: 37.8+ MB

In [20]:
train_data['notRepairedDamage'].value_counts()

0.0    111361
-       24324
1.0     14315
Name: notRepairedDamage, dtype: int64

##### 针对这个特征发现了缺失值（-），所以采取众数填补的方法将缺失值填上

In [21]:
train_data['notRepairedDamage'].replace('-','0.0',inplace=True)

In [22]:
train_data['notRepairedDamage'].value_counts()

0.0    135685
1.0     14315
Name: notRepairedDamage, dtype: int64

In [23]:
train_data['notRepairedDamage'] = train_data['notRepairedDamage'].astype('float64')

##### 查看数据缺失值

In [24]:
train_data.isnull().sum()

SaleID                   0
name                     0
regDate                  0
model                    1
brand                    0
bodyType              4506
fuelType              8680
gearbox               5981
power                    0
kilometer                0
notRepairedDamage        0
regionCode               0
seller                   0
offerType                0
creatDate                0
price                    0
v_0                      0
v_1                      0
v_2                      0
v_3                      0
v_4                      0
v_5                      0
v_6                      0
v_7                      0
v_8                      0
v_9                      0
v_10                     0
v_11                     0
v_12                     0
v_13                     0
v_14                     0
regTime              11347
creatTime                0
dtype: int64

##### 添加测试集

In [25]:
test_data = pd.read_csv('used_car_testB_20200421.csv',sep = ' ')

In [26]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SaleID             50000 non-null  int64
 1   name               50000 non-null  int64
 2   regDate            50000 non-null  int64
 3   model              50000 non-null  float64
 4   brand              50000 non-null  int64
 5   bodyType           48496 non-null  float64
 6   fuelType           47076 non-null  float64
 7   gearbox            48032 non-null  float64
 8   power              50000 non-null  int64
 9   kilometer          50000 non-null  float64
 10  notRepairedDamage  50000 non-null  object
 11  regionCode         50000 non-null  int64
 12  seller             50000 non-null  int64
 13  offerType          50000 non-null  int64
 14  creatDate          50000 non-null  int64
 15  v_0                50000 non-null  float64
 16  v_1                50000 non-null  float64
 17  v_2                50000 non-null  float64
 18  v_3                50000 non-null  float64
 19  v_4                50000 non-null  float64
 20  v_5                50000 non-null  float64
 21  v_6                50000 non-null  float64
 22  v_7                50000 non-null  float64
 23  v_8                50000 non-null  float64
 24  v_9                50000 non-null  float64
 25  v_10               50000 non-null  float64
 26  v_11               50000 non-null  float64
 27  v_12               50000 non-null  float64
 28  v_13               50000 non-null  float64
 29  v_14               50000 non-null  float64
dtypes: float64(20), int64(9), object(1)
memory usage: 11.4+ MB

In [27]:
test_data['notRepairedDamage'].replace('-','0.0',inplace=True)

In [28]:
test_data['notRepairedDamage'].value_counts()

0.0    45293
1.0     4707
Name: notRepairedDamage, dtype: int64

In [29]:
test_data['notRepairedDamage'] = test_data['notRepairedDamage'].astype('float64')

##### 给测试集添加regtime和creattime的特征

In [30]:
temp = pd.to_datetime(test_data['regDate'], format= '%Y%m%d', errors = 'coerce')

In [31]:
np.min(test_data['regDate'])

19910001

In [32]:
min_date = pd.to_datetime('19910101', format='%Y%m%d')

In [33]:
test_data['regTime'] = (temp - min_date).dt.days

In [34]:
temp = pd.to_datetime(test_data['creatDate'], format= '%Y%m%d', errors = 'coerce')

In [35]:
np.min(test_data['creatDate'])

20140310

In [36]:
min_date = pd.to_datetime('20140310', format='%Y%m%d')

In [37]:
test_data['creatTime'] = (temp - min_date).dt.days

In [38]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SaleID             50000 non-null  int64
 1   name               50000 non-null  int64
 2   regDate            50000 non-null  int64
 3   model              50000 non-null  float64
 4   brand              50000 non-null  int64
 5   bodyType           48496 non-null  float64
 6   fuelType           47076 non-null  float64
 7   gearbox            48032 non-null  float64
 8   power              50000 non-null  int64
 9   kilometer          50000 non-null  float64
 10  notRepairedDamage  50000 non-null  float64
 11  regionCode         50000 non-null  int64
 12  seller             50000 non-null  int64
 13  offerType          50000 non-null  int64
 14  creatDate          50000 non-null  int64
 15  v_0                50000 non-null  float64
 16  v_1                50000 non-null  float64
 17  v_2                50000 non-null  float64
 18  v_3                50000 non-null  float64
 19  v_4                50000 non-null  float64
 20  v_5                50000 non-null  float64
 21  v_6                50000 non-null  float64
 22  v_7                50000 non-null  float64
 23  v_8                50000 non-null  float64
 24  v_9                50000 non-null  float64
 25  v_10               50000 non-null  float64
 26  v_11               50000 non-null  float64
 27  v_12               50000 non-null  float64
 28  v_13               50000 non-null  float64
 29  v_14               50000 non-null  float64
 30  regTime            46264 non-null  float64
 31  creatTime          50000 non-null  int64
dtypes: float64(22), int64(10)
memory usage: 12.2 MB

##### 寻找数值类型的特征

In [39]:
num_cols = train_data.select_dtypes(exclude='object').columns
num_cols

Index(['SaleID', 'name', 'regDate', 'model', 'brand', 'bodyType', 'fuelType',
       'gearbox', 'power', 'kilometer', 'notRepairedDamage', 'regionCode',
       'seller', 'offerType', 'creatDate', 'price', 'v_0', 'v_1', 'v_2', 'v_3',
       'v_4', 'v_5', 'v_6', 'v_7', 'v_8', 'v_9', 'v_10', 'v_11', 'v_12',
       'v_13', 'v_14', 'regTime', 'creatTime'],
      dtype='object')

##### 寻找object类的特征

In [40]:
obj_cols = train_data.select_dtypes(include='object').columns
obj_cols

Index([], dtype='object')

##### 提取特征列

In [41]:
features = [i for i in num_cols if i not in ['SaleID','price','regDate','creatDate']]
features

['name',
 'model',
 'brand',
 'bodyType',
 'fuelType',
 'gearbox',
 'power',
 'kilometer',
 'notRepairedDamage',
 'regionCode',
 'seller',
 'offerType',
 'v_0',
 'v_1',
 'v_2',
 'v_3',
 'v_4',
 'v_5',
 'v_6',
 'v_7',
 'v_8',
 'v_9',
 'v_10',
 'v_11',
 'v_12',
 'v_13',
 'v_14',
 'regTime',
 'creatTime']

In [42]:
X_train = train_data[features]
Y_train = train_data['price']
X_test = test_data[features]

In [43]:
def show_stats(data):
    print('min: ',np.min(data))
    print('max: ',np.max(data))
    print('ptp: ',np.ptp(data))
    print('mean: ',np.mean(data))
    print('std: ',np.std(data))
    print('var: ',np.var(data))

In [44]:
print('训练集price的数据分布:')
show_stats(Y_train)

训练集price的数据分布:
min:  11
max:  99999
ptp:  99988
mean:  5923.327333333334
std:  7501.973469876635
var:  56279605.942732885

##### 缺失值用-1来补全

In [45]:
X_train = X_train.fillna(-1)
X_test = X_test.fillna(-1)

In [46]:
import xgboost as xgb

In [50]:
model = xgb.XGBRegressor(n_estimators=500, learning_rate=0.1, max_depth = 7)

In [51]:
model.fit(X_train,Y_train)
Y_predict = model.predict(X_test)

[20:28:43] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [52]:
print('XGBboostde 预测统计情况')
show_stats(Y_predict)

XGBboostde 预测统计情况
min:  -1390.4688
max:  91914.516
ptp:  93304.984
mean:  5983.9307
std:  7442.6616
var:  55393212.0

##### 输出结果

In [53]:
result = pd.DataFrame()

In [54]:
result['SaleID'] = test_data['SaleID']
result['price'] = Y_predict
result.loc[result['price'] < 11, 'price'] = 12
result[result['price'] < 11]

C:\Users\guoxi\anaconda3\envs\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [55]:
result.to_csv('./ans_xgb.csv', index='False')